*
{
    box-sizing: border-box;
}
body
{
    background-color: #ccc;
}

.bgimg
{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;

    opacity: 1;
}

.greeting
{
    text-align: center;

    color: black;
    text-shadow: 1px 1px 3px rgba(255,255,255, .5);
}

.wikipedia-container
{
    float: right;

    width: 290px;
    margin-right: 10px;
    padding: 10px;

    background-color: rgba(255,255,255,.7);
}

.nytimes-container
{
    margin-right: 300px;
    padding: 10px;

    background-color: rgba(255,255,255,.7);
}

.article-list
{
    margin: 0;
    padding: 0;
}

.article
{
    padding: 10px;

    list-style-type: none;

    border-top: 1px solid #ccc;
}
.article:first-child
{
    border-top: none;
}
